<div class="container">

    <br>

    <div class="row">

        <div class="col-lg-1"></div>

        <div class="col-lg-10 text-center">

            <h1>BURGERS</h1>

        </div>

        <div class="col-lg-1"></div>

    </div>

    <hr>

    <div class="row">

        <div class="col-lg-1"></div>

        <div class="col-lg-5 text-center">

            <h3>Available:</h3>

            <h5>

                {{#each safe}}

                <p>{{burger_name}}</p>

                {{/each}}

            </h5>

        </div>

        <div class="col-lg-5 text-center">

            <h3>Devoured:</h3>

             <h5>

                {{#each eaten}}

                <p>{{burger_name}}</p>

                

                {{/each}}

            </h5>

        </div>

        <div class="col-lg-1"></div>

    </div>

</div>